* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
.App {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: #282c34;
}

header {
  display: flex;
  justify-content: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  width: 100vw;
  height: calc(100vh - 20vmin);
  padding: 15px;
}

.challenge {
  max-width: 500px;
  height: fit-content;
  padding: 30px;
  border-radius: 30px;
  background-color: #61DAFB;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  font-weight: 500;
}
.challenge h1 {
  margin-bottom: 10px;
}
.btn-style {
  padding: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  background-color: #ffffff;
  color: #282c34;
  transition: 0.3s ease-in;
}
.btn-style:hover {
  background-color: #282c34;
  color: #ffffff;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}